.box{
    width: 600px;
    height: 200px;
    border: 1px solid gray;
    margin-left: 25%;
    margin-top: 85px;
    padding: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:15px;
    }
.Title{
    margin: 5 0 0.75em;
    display: inline-block;
    margin-left: 25px;
    margin-top: 4px;
	padding: 0 0 5px 0;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 18px;
	line-height: 20px;
    color: #343434;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;

}
.Q{
    margin-top: 4px;
   margin-left: 4px;
}
.Option1{
    border-radius:15px;
    display: block;
    margin-top: 10px;
    margin-left: 4px;
    width: 580px;
    height:25px
}
.Option1::hover{
    background-color: #555e7d;
}
* {
	box-sizing: border-box;
}
/* body {
	font-family: 'Roboto Slab', serif;
	font-size: 1.2rem;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
	min-height: 100vh;
} */

ol {
    margin-left: 35px;
	padding: 0;
	/* margin: 0; */
	max-width: 700px;
	position: relative;
    height: 80%;
}

ol::before {
	content: '';
	width: 0.5rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 8%;
	background: peachpuff;
	z-index: -1;
}

li {
  
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background: peachpuff;
    height: 45px;
}

li + li {
	margin-top: 6px;
}

::marker {
	font-weight: 600;
	color: tomato;
	font-size: 1.8rem;
}