.shadeareaf{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalcontainerf{
    width: 300px;
    height: 400px;
    padding: 20px;
    background: whitesmoke;
    margin-top: 100px;
    /* position: relative; */
    border-radius: 40px 40px 40px 40px;

  }
  .modalcontainerf h2{
    margin-top: 32px;
    color: #1b2430;
  }
  .modalcontainerf p{
    margin-top: 25px;
    margin-left: 10px;;
    font-size: 16px;
    color: #1b2430;
  }
  .closef{
    margin-left: -45px;
    margin-top: -225px;
    resize: none;
    width:24px;
    background-color: whitesmoke;
    border: none;
    height: 24px;
      
  }
  .textfield1 {
    margin-top: 10px;
    margin-left: 20px;
  }
  .submitbuttonf{
        width: 80px;
        height: 40px;
        margin-left: 20px;
        margin-top: 410px;
        background: #17cf97 ;
        position: fixed;
      color: white;
      border:none;
        border-radius: 40px 40px 40px 40px;  
  }
  .modalcontainerf img{
    margin-left: 15px;
    margin-top: 15px;
  }
  .sent p{
    font-weight: 200;
    font-size: 14px;
    margin-left: 44px;
    margin-top:-22px;
  }
  .sent{
   
    margin-left: -5px;
  }