.subjects {
    padding: 0 0 100px 0;
    position: relative;

  }
  .container{
    margin-left:290px;
    margin-top:180px;
  }
  .skillbx {
      width:800px;
    background: #1b2430;
    box-sizing: border-box;
    border-radius: 60px;
    text-align: center;
    padding: 10px 10px;
    margin-top: -60px;
    
  }
  .skill h2 {
      font-size: 20px;
      font-weight: 700;
      color: #17cf97;

  }
  .skill p {
      color: #17cf97;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  .skillslider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    color: #17cf97;

  }
  .astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #17cf97;

}
  .backgroundimageleft {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }