
 
  
  
  
   section {
    width: 10%;
    min-height: inherit;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    position: relative;
  }
  
  
  
   section::before {
    width: 30px;
    height: 30px;
  
    background: var(--primary);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  
    top: 18px;
    left: 18px;
  }
  
   section::after {
    width: 42px;
    height: 42px;
  
    border: 1px solid var(--primary);
  
    top: 11px;
    left: 11px;
  }
  
   .light {
    --primary: #17cf97;
    --other: #1b2430;
  
   
  }
  
  
  
   .design {
    width: 16px;
    height: 16px;
  
    border: 1px solid var(--other);
    border-radius: 100%;
    margin-right: 2px;
  
    position: absolute;
  }
  
   .design::before,
  .design::after {
    content: "";
    display: block;
  
    width: inherit;
    height: inherit;
  
    border-radius: inherit;
  
    transform: scale(0);
    transform-origin: center center;
  }
  
  .design:before {
    background: var(--other);
    opacity: 0;
    transition: .3s;
  }
  
  .design::after {
    background: var(--primary);
    opacity: .4;
    transition: .6s;
  }
  
  
  .text11 {
    color: var(--other);
    font-weight: bold;
    margin-left: 20px;
    
  }
  
  
  input:checked+.design::before {
    opacity: 1;
    transform: scale(.6);
  }
  
  
  input:hover+.design,
  input:focus+.design {
    border: 1px solid var(--primary);
  }
  
  input:hover+.design:before,
  input:focus+.design:before {
    background: var(--primary);
  }
  
  input:hover~.text {
    color: var(--primary);
  }
  
  input:focus+.design::after,
  /* input:active+.design::after {
    opacity: .1;
    transform: scale(2.6);
  } */
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 0%, .6);
    background: hsla(0, 0%, 98%, .6);
    font-size: 16px;
  } 
  
  input[type=radio],
      input.radio {
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .create2{
    padding: 20px;
  } 