.all{
    z-index: 1;
    position: relative;
}



.firsttitle{
    position: relative;
    width: 152px;
    height: 21px;
    left: 240px;
    top: 153px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(140, 140, 140, 0.94);    
}
.name{
    position: absolute;
width: 260px;
height: 38px;
left: 150px;
top: 174px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;

}
.shortdescription{
    position: absolute;
width: 645px;
height: 24px;
left: 190px;
top: 225px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}
.totalstudents{
    position: absolute;
    width: 146px;
    height: 17px;
    left: 220px;
    top: 309px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #8C8C8C;
    
}
.totalstudentsnumber{
    position: absolute;
    width: 101px;
    height: 35px;
    left: 238px;
    top: 338px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    
}
.totalreviews{
    position: absolute;
    width: 146px;
    height: 15px;
    left: 380px;
    top: 309px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #8C8C8C;
    
}
.totalreviewsnumber{
    position: absolute;
    width: 101px;
    height: 35px;
    left: 400px;
    top: 338px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
}
.averagerating{
    position: absolute;
width: 146px;
height: 15px;
left: 539px;
top: 308px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #8C8C8C;

}
.averageratingnumber{
    position: absolute;
    width: 101px;
    height: 35px;
    left: 560px;
    top: 338px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    
}
.aboutme{
    position: absolute;
    width: 146px;
    height: 17px;
    left: 226px;
    top: 423px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000; 
}
.aboutmetext{
    position: absolute;
width: 673px;
height: 311px;
left: 247px;
top: 466px;
text-indent: 4ch;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;

}
.image{

position: absolute;
width: 203px;
height: 180px;
left: 1100px;
top: 110px;
border-radius: 50%;
}
.changepassword {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute;
left: 1100px;
top: 300px;
width: 203px;
height: 40px;
font-weight: 500;
  }
  .changeEmail {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute;
left: 1100px;
top: 350px;
width: 203px;
height: 40px;
font-weight: 500;
  }
  .ViewRatings{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute;
left: 1100px;
top: 400px;
width: 203px;
height: 40px;
font-weight: 500;
  
  }
  .editicon{
    position: absolute;
    width: 24px;
    height: 23px;
    left: 360px;
    top: 425px;
  }
  .editbutton{
    background-color: white;
    width: 0.2px;
    height: 0.2px;
  }
  .shadearea{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalcontainer{
    width: 500px;
    height: 350px;
    padding: 20px;
    background: #FFFFFF;
    position: relative;
    border-radius: 40px 40px 40px 40px;
    z-index: 2;

  }
  .editbiotext{
    position: absolute;
    width: 231px;
    height: 45px;
    left: 134px;
    top: 41px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    
    color: black;
    
  }
  .editemailtext{
    position: absolute;
    width: 331px;
    /* height: 45px; */
    left: 84px;
    top: 41px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    
    color: black;
  }
  .closeedit{
    background: #fff;
    border: none;
    float: right;
    padding-right: 0.7rem;
    padding-top: 0.1rem;
   
  }
  .edittextfield{
    position: absolute;
  width:400px;
    height: 160px;
    left: 50px;
    top: 100px;
  }
  .editemailfield{
    position: absolute;
  width:400px;
    height: 50px;
    left: 50px;
    top: 150px;
  }
  .submiteditbutton{
    position: absolute;
    width: 100px;
    height: 48px;
    left: 199px;
    top: 280px;
    border-radius: 40px 40px 40px 40px;
    background: #17cf97;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    border:black;

    color: #FFFFFF;
    
  }
  .changepass{
  position: absolute;
    left:76px;
    top:40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 20px;
    text-align: right;
    
    color: black;
  }
  .passtextfield2{
    position: absolute;
    top:200px;
    left:130px;
  }
  .confirmpass{
    position: absolute;
    top:175px;
    left:185px;
  }
  .passtextfield1{
    position: absolute;
    top:110px;
    left:130px;
  }
  .newpass{
    position: absolute;
    top:85px;
    left:190px;
  }
  .submitpassbutton{
    position: absolute;
    width: 100px;
    height: 48px;
    left: 190px;
    top: 285px;
    border-radius: 40px 40px 40px 40px;
    background: #17cf97;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    border:black;
    color: #FFFFFF;
  }

  .ViewCourses{
    background-color: whitesmoke;
    position: relative;
    width: 700px;
    height: 140px;
    margin-top: 1px;
    margin-left: -2px;
  }
  .ViewCourses2{
    background-color: whitesmoke;
    margin-top: 650px;
    position: relative;
    width: 700px;
    height: 100%;
    margin-left: 250px;
  }
  .ViewCourses2 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-left: -530px;
    color: #000000; 
  }
  .courseimg{
    margin-top: 40px;
    margin-left: 10px;
    height: 140px;
    position: relative;
  }
  .ViewCourses h2{
    margin-left: 160px;
    margin-top: -130px;
    font-size: 16px;
  }
  .ViewCourses p{
    margin-left: -290px;
    margin-top: -30px;
    font-weight: 400;
    font-size: 16px;
  }
  .ViewCourses i{
    margin-left: 160px;
    margin-top: 5px;
  }
  .starimage1{
    margin-left: 250px;
    margin-top: -190px;
  }
  .rat{
    margin-top: 9px;
    margin-left: -69px;
  }
  .rat p{
    font-weight: 400;

  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);


.searchC {
  width: 100%;
  position: relative;
  height: 36px;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #17cf97;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #17cf97;
}

.searchButtonC {
  width: 40px;
  /* height: 36px; */
  border: 1px solid #17cf97;
  background: #17cf97;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
 margin-left: 210px;
 margin-top: -20px;
  transform: translate(-50%, -50%);
}
 