.all{
    z-index: 1;
    position: relative;
}



.firsttitle{
    position: relative;
    width: 152px;
    height: 21px;
    left: 240px;
    top: 153px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(140, 140, 140, 0.94);    
}
.name{
    position: absolute;
width: 260px;
height: 38px;
left: 150px;
top: 174px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;

}
.shortdescription{
    position: absolute;
width: 645px;
height: 24px;
left: 190px;
top: 225px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}
.emaill{
    position: absolute;
width: 645px;
height: 24px;
left: 20px;
top: 255px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}
.totalstudents{
    position: absolute;
    width: 146px;
    height: 17px;
    left: 220px;
    top: 309px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #8C8C8C;
    
}
.totalstudentsnumber{
    position: absolute;
    width: 101px;
    height: 35px;
    left: 238px;
    top: 338px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    
}
.totalreviews{
    position: absolute;
    width: 146px;
    height: 15px;
    left: 380px;
    top: 309px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #8C8C8C;
    
}
.totalreviewsnumber{
    position: absolute;
    width: 101px;
    height: 35px;
    left: 400px;
    top: 338px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
}
.averagerating{
    position: absolute;
width: 146px;
height: 15px;
left: 539px;
top: 308px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #8C8C8C;

}
.averageratingnumber{
    position: absolute;
    width: 101px;
    height: 35px;
    left: 560px;
    top: 338px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
    
}
.aboutme{
    position: absolute;
    width: 146px;
    height: 17px;
    left: 226px;
    top: 423px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000; 
}
.aboutmetext{
    position: absolute;
width: 673px;
height: 311px;
left: 247px;
top: 466px;
text-indent: 4ch;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;

}
.image{

position: absolute;
width: 203px;
height: 180px;
left: 1100px;
top: 110px;
border-radius: 50%;
}
.changepassword {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute;
left: 1100px;
top: 300px;
width: 203px;
height: 40px;
font-weight: 500;
  }
  .changeEmail {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute;
left: 1100px;
top: 350px;
width: 203px;
height: 40px;
font-weight: 500;
  }
  .ViewRatings{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute;
left: 1100px;
top: 400px;
width: 203px;
height: 40px;
font-weight: 500;
  
  }
  .ViewRatings2{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute;
left: 1100px;
top: 450px;
width: 203px;
height: 40px;
font-weight: 500;
  
  }
  .editicon{
    position: absolute;
    width: 24px;
    height: 23px;
    left: 360px;
    top: 425px;
  }
  .editbutton{
    background-color: white;
    width: 0.2px;
    height: 0.2px;
  }
  .shadearea{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalcontainer{
    width: 500px;
    height: 350px;
    padding: 20px;
    background: #FFFFFF;
    position: relative;
    border-radius: 40px 40px 40px 40px;
    z-index: 3;

  }
  .editbiotext{
    position: absolute;
    width: 231px;
    height: 45px;
    left: 134px;
    top: 41px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    
    color: black;
    
  }
  .editemailtext{
    position: absolute;
    width: 331px;
    /* height: 45px; */
    left: 84px;
    top: 41px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    
    color: black;
  }
  .closeedit{
    background: #fff;
    border: none;
    float: right;
    padding-right: 0.7rem;
    padding-top: 0.1rem;
   
  }
  .closeeditXX{
    background: whitesmoke;
    border: none;
    float: right;
    position: absolute;
    z-index: 3;
    margin-left: 750px;
    margin-top: 10px;
    padding-right: 0.7rem;
    padding-top: 0.1rem;
   
  }
  .edittextfield{
    position: absolute;
  width:400px;
    height: 160px;
    left: 50px;
    top: 100px;
  }
  .editemailfield{
    position: absolute;
  width:400px;
    height: 50px;
    left: 50px;
    top: 150px;
  }
  .submiteditbutton{
    position: absolute;
    width: 100px;
    height: 48px;
    left: 199px;
    top: 280px;
    border-radius: 40px 40px 40px 40px;
    background: #17cf97;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    border:black;

    color: #FFFFFF;
    
  }
  .changepass{
  position: absolute;
    left:76px;
    top:40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 20px;
    text-align: right;
    
    color: black;
  }
  .passtextfield2{
    position: fixed;
    top:180px;
    left:-110px;
  }
  .confirmpass{
    position: absolute;
    top:175px;
    left:185px;
  }
  .passtextfield1{
    position: fixed;
    top:90px;
    left:110px;
  }
  .newpass{
    position: absolute;
    top:85px;
    left:190px;
  }
  .message{
    margin-top:190px;
    margin-left: 90px;
    color: red;
    position: fixed;
  }
  .closeedit2{
    background: #fff;
    border: none;
    float: right;
    margin-top:-45px;
    padding-right: 0.7rem;
    padding-top: 0.1rem;
   
  }
  
  .submitpassbutton{
    position: absolute;
    width: 100px;
    height: 48px;
    left: 190px;
    top: 295px;
    border-radius: 40px 40px 40px 40px;
    background: #17cf97;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    border:black;
    color: #FFFFFF;
  }

  .ViewCourses{
    background-color: whitesmoke;
    position: relative;
    width: 700px;
    height: 140px;
    margin-top: 1px;
    margin-left: -2px;
  }
  .ViewCourses span{
    margin-left: 160px;
  }
  .ViewCourses2{
    background-color: whitesmoke;
    /* margin-top: 650px; */
    margin-top: 600px;
    position: relative;
    width: 700px;
    /* height: 100%; */
    margin-left: 250px;
  }
  .ViewCourses2 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-left: -530px;
    z-index: 2;
    color: #000000; 
  }
  .courseimg{
    margin-top: 40px;
    margin-left: 10px;
    height: 140px;
    position: relative;
  }
  .ViewCourses h2{
    margin-left: 160px;
    margin-top: -139px;
    font-size: 16px;
  }

  .ViewCourses p{
    margin-left: -290px;
    margin-top: -30px;
    font-weight: 400;
    font-size: 16px;
  }
  .ViewCourses i{
    margin-left: 160px;
    margin-top: 5px;
  }
  .starimage1{
    margin-left: 185px;
    margin-top: -23px;
  }
  .rat{
   margin-top: 20px;
   margin-left: -70px;
   font-weight: 400;
  }
  
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);


.searchC {
  width: 50%;
  position: relative;
  height: 36px;
  display: flex;
}

.searchTerm {
  width: 350px;
  border: 3px solid #17cf97;
  border-right: none;
  padding: 5px;
  height: 28px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButtonC {
  width: 40px;
  /* height: 36px; */
  border: 1px solid #17cf97;
  background: #17cf97;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin-left: -37px;
  top:25px
}

.filterButtonC {
    width: 40px;
    /* height: 36px; */
    border: 1px solid #17cf97;
    background: #17cf97;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 23px;
  }


/*Resize the wrap to see the search bar change!*/
.wrap{
  /* width: 60%; */
  width: 10px;
  position: absolute;
 margin-left: 10px;
 margin-top: -30px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

 .pricee{
    margin-left: 155px;
    margin-top: -3px;
 }
 .priceetext{
    margin-left: 28px;
    margin-top: 5px;
 }
 .priceetext1{
  margin-left: 28px;
  margin-top: 5px;
  text-decoration: line-through;
}
.priceetext11{
  margin-left: 188px;
  margin-top: -3px;
}
 .FFF{
    margin-left: -300px;
    top: -120px;
    position: relative;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 5;
    height: 100%;
 }
 
 .shadearea2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .please{
    margin-left: -400px;
    margin-top: 10px;
  }
  .button7 {
    backface-visibility: hidden;
    background: #17cf97;
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 0.2;
    padding: 1rem 1.25rem;
    position: absolute;
    text-align: center;
    width: 140px;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    height: 30px;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 455px;
    margin-top: 5px;
  }
  
  .button7:disabled {
    color: #787878;
    cursor: auto;
  }
  
  .button7:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .button7:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .button7:focus {
    outline: 0 solid transparent;
  }
  
  .button7:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .button7:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .button79:not(:disabled):active {
    transform: translateY(.125rem);
  }
 .ViewRatingsi{

    /* width: 60%; */
    
    width: 800px;
    background-color: whitesmoke;
   margin-left: 710px;
   margin-top: -520px;
      display: grid;
      position: relative;
    transform: translate(-50%, -50%);
    z-index: 5;
 
 }
 .ref:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.ref:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.ref:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.ref:active {
  color:black;
  background-color: transparent;
  text-decoration: none;
}

.mainchange{
  position:absolute;
  left:450px;
}
.changepass1{
  position: absolute;
    left:76px;
    top:40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 20px;
    text-align: right;
    
    color: black;
  }
  .passtextfield2c{
    position: absolute;
    top:190px;
    left:-110px;
  }
  .confirmpass1{
    position: absolute;
    top:175px;
    left:185px;
  }
  .passtextfield1c{
    position: absolute;
    top:90px;
    left:110px;
  }
  .newpass1{
    position: absolute;
    top:85px;
    left:190px;
  }
  .submitpassbutton1{
    position: absolute;
    width: 100px;
    height: 48px;
    left: 190px;
    top: 285px;
    border-radius: 40px 40px 40px 40px;
    background: #17cf97;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    border:black;
    color: #FFFFFF;
  }
  .instrating{
    margin-left: 230px;
  }
    /* .see{
    z-index: 5;
    position: relative;
  } 
  .see1{
    /* float: right;
    margin-top: 120px;
    margin-left: -120px; 
  } */